* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #F2E3D5;
    color: #024959;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #024959;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 0px 24px;
}

.titulo {
    font-size: 3rem;
    color: #f2e3d5;
    text-shadow: 2px 2px #808080;
    margin-bottom: 24px;
}

.logo {
    width: 200px;
}

.nav-bar {
    height: auto;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
}

.nav-bar a {
    text-decoration: none;
    color: #f2e3d5;
    font-size: 1rem;
}

.nav-bar a:hover {
    color: #808080;
}

.container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #F2E3D5;
}

h2 {
    color: #024959;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form input, form textarea, form select {
    padding: 10px;
    border: 1px solid #024959;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #024959;
    color: #F2E3D5;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

form input[type="submit"]:hover {
    background-color: #023648;
}

.contato {
    background-color: #024959;
    color: #f2e3d5;
    display: flex;
    font-size: 0.9rem;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px;
}

.contato a {
    text-decoration: none;
    color: #f2e3d5;
    font-size: 1rem;
}

.contatoBox {
    display: flex;
    gap: 40px;
    align-items: center;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.redes a:hover {
    color: #808080;
}

.redesBox {
    display: flex;
    gap: 40px;
    align-items: center;
}

footer {
    padding: 20px;
    text-align: center;
    font-weight: 600;
    background-color: #024959;
    color: #f2e3d5;
    height: 50px;
    text-align: center;
}

@media (max-width:480px) {
    .contato {
        flex-direction: column;
        gap: 24px;
    }

    .contatoBox {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .redesBox {
        flex-direction: column;
        gap: 16px;
    }

    .redes {
        align-items: center;
    }
}

@media (max-width: 920px) {
    .cabecalho {
      flex-direction: column;
      padding-bottom: 12px;
    }

    .titulo {
      font-size: 2rem;
      padding-top: 0;
    }

    .sub-titulo {
      font-size: 1.5rem;
    }

    .logo {
      width: 160px;
    }

    .nav-bar {
      justify-content: center;
      gap: 22px;
    }

    .nav-bar a {
      font-size: 0.9rem;
      padding-bottom: 5px;
    }

    .box-article h2{
      font-size:2.3rem;
    }

    .container{
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    .container {
        padding: 10px;
    }

    .contato {
      font-size: 0.9rem;
    }

    form {
        padding: 15px;
    }

    form input, form textarea, form select {
        padding: 8px;
    }

    form input[type="submit"] {
        padding: 8px 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }
}

@media (max-width: 1280px) {
    .box-article {
        flex-direction: column;
    }
}
