body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #F2E3D5;
    color: #024959;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #024959;
    color: #F2E3D5;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin-bottom: 20px;
}

h1 {
    color: #F2E3D5;
}

h2 {
    color: #024959;
}

.section {
    margin-bottom: 40px;
}

form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



form input, form textarea, form select {
    padding: 10px;
    border: 1px solid #024959;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #024959;
    color: #F2E3D5;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

form input[type="submit"]:hover {
    background-color: #023648;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header, footer {
        padding: 15px;
    }

    form {
        padding: 15px;
    }

    form input, form textarea, form select {
        padding: 8px;
    }

    form input[type="submit"] {
        padding: 8px 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }
}