/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #F2E3D5;
    color: #024959;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #024959;
    color: #F2E3D5;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #F2E3D5;
}

h2 {
    color: #024959;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
    width: 100%;
}

form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea, form select {
    padding: 10px;
    border: 1px solid #024959;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

form input[type="submit"] {
    background-color: #024959;
    color: #F2E3D5;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    padding: 10px 20px;
}

form input[type="submit"]:hover {
    background-color: #023648;
}

/* Media Query para Dispositivos Móveis */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header, footer {
        padding: 15px;
    }

    form {
        padding: 15px;
    }

    form input, form textarea, form select {
        padding: 8px;
    }

    form input[type="submit"] {
        padding: 8px 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }
}