* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: #F2E3D5;
}

.logo {
    margin-left: 20px;
    overflow: hidden;
    font-size: 3rem;
}

.cabecalho {
    width: 100%;
    height: 20vh;
    background-color: #024959;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    padding: 20px;
    font-size: 2.5rem;
    color: #f2e3d5;
    margin-left: 5px;
    text-shadow: 2px 2px #808080 ;
}

.logo {
    width: 200px;
    position: relative;
    bottom: 1px;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    color: #f2e3d5;
    font-size: 1rem;
}

.nav-bar a:hover {
    letter-spacing: 1px;
    color: #f2e3d5;
}
.box-img {
    width: 100%;
    height: 60vh;
    background-image: url(imgs/administracao-clinica-medica-600x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.caixa-texto {
    background-color: #F2E3D5;
    width: auto;
    color: #024959;
    padding: 40px;
    font-size: 1rem;
}

h3 {
    text-align: center;
}

.contato {
    padding-top: 40px;
    background-color: #024959;
    color: #f2e3d5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: #f2e3d5;
    margin: 5px;
    font-size: 1rem;
}

footer {
    padding: 20px;
    text-align: center;
    font-weight: 600;
    background-color: #024959;
    color: #f2e3d5;
    height: 50px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #F2E3D5;
}

@media (max-width:480px){
    
    .cabecalho{
        display: flex;
        justify-content: space-between;
    }
    .titulo{
        font-size: 0.8rem;
        text-align: center;
    }
    .logo{
       width:150px;
    }
    .footer{
        display: flex;
        align-items: center;
    }
    .nav-bar a{
        font-size: 0.6rem;
    }
}
