

@media (max-width: 900px) {
  .cabecalho {
    height: 40vh;
    flex-direction: column;
  }
  .titulo {
    font-size: 1.8rem;
  }
  .sub-titulo {
    font-size: 1.5rem;
  }
  .logo {
    width: 130px;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar a {
    font-size: 0.6rem;
  }
  .box-article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bem-vindo {
    margin-top: 10px;
  }
  .tit-especialidades {
    font-size: 1.8rem;
  }
  .contato {
    font-size: 0.8rem;
  }
  .redes {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .section {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
  }
  .testimonial-card {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    justify-content: center;
  }
  .contato {
    font-size: 0.7rem;
    display: flex;
   
  }
 

}